<!DOCTYPE html>
<html>
    <head>
        <!-- JS for parsing and viewing trees -->
        <!-- src: Tim Vaughan's icytree -->
        {% load staticfiles %}
        <script src="{% static 'blog/test.js' %}"></script>

        <title>Django Try</title>
    </head>

    <body>
        <!-- JS test -->
        <p>Button to test JS import functionality</p>
        <p id="demo-btn">This text should change when the button is clicked. Otherwise, JS isn't working.</p>
        <button type="button" onclick="myFunction()">Click me</button>

        <!-- tree placeholder -->
        <div class="phylotree" id="phylotree">
            <img src="{% static 'blog/images/did-1.png' %}" alt="tree" style="height:800px;">
        </div>

        <div>
            <h1><a href="/">Test Django App</a></h1>
        </div>

        <a href="http://tutorial.djangogirls.org/en"> Src: Django Girls tutorial</a>

        {% for post in posts %}
            <h2> {{ post.title }}</h2>
            <p> {{ post.author }}</p>
            <p> Published: {{ post.published_date }} </p>
            <p> {{ post.text|linebreaksbr }} </p>
        {% endfor %}

    </body>
</html>